pandas>=1.5
numpy>=1.24
matplotlib>=3.6
seaborn>=0.12
plotly>=5.10
scikit-learn>=1.1
jupyterlab>=4.0
notebook
xgboost>=1.7
lightgbm>=3.3
nltk
spacy
wordcloud
kaggle
streamlit
category_encoders
imbalanced-learn
openpyxl
tqdm
